.container{
    width: 1200px;
    margin: 0 auto;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
.text{
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
}
.number{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.menu a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    list-style: none;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px 0;
}
.img-1{
    width: 500px;
}
.text-1{
    width: 500px;
}
.block-1{
    margin: 0 0 50px 0;
}
.card{
    padding: 0 20px 0 20px;
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
}
.foot ul{
    list-style: none;
}
.foot li a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;
    display: inline-block;
}
body{
    background: #000;
}
